@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: url(/public/image/pattern.jpg);
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    align-content: space-between;
    background-color: #fff;
    padding-top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

header ul{
    list-style: none;
    display: inline-flex;
}

header ul li{
    margin: 0 10px;
}

main{
    background-color: #fff;
    margin: 5% 10%;
    padding: 3%;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
}

article {
    margin-top: 7px;
    border-bottom: 2px solid #000;
}

article p{
    font-family: 'Roboto', sans-serif;
}
